<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MongoScraper</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li>
          <a href="#">Saved Articles</a>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <button type="submit" class="btn btn-default" id="new-articles">Scrape New Articles</button>
        <button type="submit" class="btn btn-default" id="clear-articles">Clear Articles</button>
      </form>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<div class="jumbotron">
  <div class="container">
    <h1>MongoScraper</h1>
    <h4>Slate Edition</h4>
  </div>
</div>

<div class="col-md-12" id="articles">


</div>