.article-divs {
    background-color: maroon;
    color: wheat;
    margin-top: 2%;
    padding: 15px;
}

button {
    margin-left: 15px;
    margin-bottom: 2%;
    width: 100px;
    height: 30px;
}

#new-articles {
    width: 200px;
}

#clear-articles {
    width: 150px;
}

h1 {
    text-align: center;
    
}

h4 {
    text-align: center;
    margin-top: 3%;
}

.jumbotron {
    background-image: url("../images/scroll.jpg");
    color: white;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
    
}

#save-button {
    background-color: aqua;
    margin-right: 10px;
    color: black;
}