.article-divs {
    background-color: maroon;
    color: wheat;
    margin-top: 2%;
    padding: 15px;
    font-size: 16px;
}

#article-divs {
    max-width: 1200px;
}

button {
    margin-left: 15px;
    margin-bottom: 2%;
    width: 100px;
    height: 30px;
}

#new-articles {
    width: 200px;
}

#clear-articles {
    width: 150px;
}

h1 {
    text-align: center;
    
}

h4 {
    text-align: center;
    margin-top: 3%;
}

.jumbotron {
    background-image: url("../images/scroll.jpg");
    color: white;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
    
}

.button-success {
    background-color: #FFFFFF;
    margin-right: 10px;
    color: black;
}

.summary-text {
    margin-top: -11;
    margin-bottom: 25;
    background-color: #EFD5B9;
    padding: 7px;
    max-width: 900px;
    color: black;
}